.ant-btn {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 8px;
}

.ant-btn-primary {
    color: #fff;
    border-color: #7367f0;
    background: #7367f0;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.ant-btn-primary:hover {
    background: #7367f0;
    box-shadow: 0 8px 25px -8px #7367f0;
}

/* .ant-btn-lg {
    height: 40px;
    padding: 6.4px 15px;
    font-size: 16px;
    border-radius: 2px;
} */

.bg-red {
    background: red;
}